/* This file (css/nde-ed.css) should ONLY be updated within the nde-ed site content. When this file is updated, 
   the changes should be propagated to the tinymce editor.

   Entries listed here will show up in the tinymce editor 
*/

section {

}

figure {
    display: block;
    border: 0px;
    background: none;
    margin-top: 0;
    margin-bottom: 0;
}

figure.image { /* override tinymce internal presentation */
    display: block;
    border: 0px;
    margin-top: 0;
    margin-bottom: 0;
    background: none;
}

figure.centered {
    margin: auto;
}


figure.float-left {
    float: left;
    margin-right: 2em;
}

figure.float-left img {
    margin: 0 0 0 0;
    width: 100%;  // fill up figure box
}


figure.float-right {
    float: right;
    margin-left: 2em;
}

figure.float-right img {
    margin: 0 0 0 0;
    width: 100%;  // fill up figure box
}

figure.sz20pct {
    width: 20%;
}

figure.sz20pct img {
    width: 100%;
}

figure.sz30pct {
    width: 30%;
}

figure.sz30pct img {
    width: 100%;
}

figure.sz40pct {
    width: 40%;
}

figure.sz40pct img {
    width: 100%;
}


figure.sz50pct {
    width: 50%;
}

figure.sz50pct img {
    width: 100%;
}

figure.sz60pct {
    width: 60%;
}

figure.sz60pct img {
    width: 100%;
}


figure.sz70pct {
    width: 70%;
}

figure.sz70pct img {
    width: 100%;
}

figure.sz80pct {
    width: 80%;
}

figure.sz80pct img {
    width: 100%;
}

figure.sz100pct {
    width: 100%;
}

figure.sz100pct img {
    width: 100%;
}


figure.image img {
    margin: 0 0 0 0;
}

figure img {
    margin: 0 0 0 0;
}





figure figcaption {
    margin: 6px 8px 6px 8px;
    text-align: center;
}

figure.image figcaption {
    margin: 6px 8px 6px 8px;
    text-align: center;
}

aside {
    padding-left: 1em;
    padding-right: 1em;

}


aside.left {
    float: left;
    margin-right: 2em;
    border: solid black;
    border-width: 2px;
}

aside.right {
    float: right;
    margin-left: 1em;
    border: solid black;
    border-width: 2px;
}

aside.sz20pct {
    width: 20%;
}

aside.sz30pct {
    width: 30%;
}

aside.sz40pct {
    width: 30%;
}

aside.sz50pct {
    width: 50%;
}


div.displaymath {
    text-align: center;
}

div.nde-ed-edobjective {
    color: red;
}

div.nde-ed-review {
    color: red;
}


iframe.nde-ed-swiffyframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

